<%- include header%>
<form method="post" >
    账号:<input type="text" name="user" id="reguser" ></br><em style="font-size: 8px">用户名中不能包含特殊字符和中文</em></br>
    密码:<input type="password" name="password" id="password"></br><em style="font-size: 8px">请输入8位以上密码</em></br>
    确认:<input type="password" name="repassword" id="repassword"></br></br>
    邮箱:<input type="text" name="qq" id="qq" value="请输入正确的邮箱"
              onfocus="javascript:if(this.value=='请输入正确的邮箱')this.value='';"></br></br>
    <input type="submit" value="注册"></br>
</form>
<%- include footer%>